
/*=====================
 Theme Color
======================= */


.owl-menu > li > a.active, .owl-menu > li > a:hover { color: #00c0e2; }

.owl-menu > li > a.active::before, .owl-menu > li.owlHover > a::before { background: #00c0e2 none repeat scroll 0 0; }

#newsletter_signup input[type="submit"]:hover { background: #00c0e2 none repeat scroll 0 0; }

#footer .secondary-menu .nav > li > a:hover, #footer .secondary-menu .nav > li > a:focus { color: #00c0e2; }

a:hover, .item_title a:hover, .item_des a:hover { color: #00c0e2; }

.bar-il { background: #00c0e2 none repeat scroll 0 0; }

.owl-theme .owl-controls .owl-page.active span { background: #00c0e2 none repeat scroll 0 0; }

.tp-tag { background: #00c0e2 none repeat scroll 0 0; }

.tp-tag span, .tp-tag span + span + span { color: #eaffff; }

.btn-slider.reversed { background-color: #00c0e2; border-color: #00c0e2; }

.product-feature p.lead { color: #00c0e2; }

.link { color: #00c0e2; }

.flat.border-red { border: 2px solid #00c0e2; color: #00c0e2; }

.flat.red { background: #0093d8 none repeat scroll 0 0; }

.flat.red:before { background: #0073b8 none repeat scroll 0 0; }

.flat.red:hover:before { background: #0073b8 none repeat scroll 0 0; }

.flat.border-red::before { background: #00c0e2 none repeat scroll 0 0; }

.domainDD.drk { background: #00c0e2 none repeat scroll 0 0; }

.team-wrap .owl-textual-box6 .owl-textual6 { background: #00c0e2 none repeat scroll 0 0; }

.circle-only-border .icon-3x[class^="icon-"], .circle-only-border .circle-border { color: #00c0e2; }

.circle-only-border .circle-border { border: 1px solid #00c0e2; }

.icon-3x[class^="icon-"] { background-color: #00c0e2 !important; }

.icon-hover-zoom:hover .icon-3x[class^="icon-"] { background-color: #00c0e2 !important; }

.icon-hover-zoom:hover .circle-border { border: 1px solid #00c0e2; }

.circle-icon:hover i { background: #00c0e2 none repeat scroll 0 0; }

.circle-border-icon:hover i { border: 2px solid #00c0e2; color: #00c0e2; }

.circle-oval-icon:hover i { background: #00c0e2 none repeat scroll 0 0; }

.circle-border-oval-icon:hover i { border: 2px solid #00c0e2; color: #00c0e2; }

.sim-icon:hover i { color: #00c0e2; }

.shape a:hover { color: #00c0e2; }

.team-content2 > h4 { background: #00c0e2 none repeat scroll 0 0; }

.flip-back { background-color: #00c0e2; border: 1px solid #00c0e2; color: #ffffff; }

.owl-pricing-switcher .owl-switch { background-color: #00c0e2; }

.owl-popular .owl-pricing-header { color: #00c0e2; }

.owl-popular .owl-currency, .owl-popular .owl-duration { color: #00c0e2; }

.owl-popular .owl-pricing-wrapper > li { box-shadow: 0 0 0 3px #00c0e2 inset; }

.owl-popular .owl-select { background-color: #00c0e2; }

ul.list-link > li a:hover { color: #00c0e2; }

.testi-i-wrap > h3 { color: #00c0e2; }

.notaccordion.acc-color h3 { background: #00c0e2 none repeat scroll 0 0; }

.notaccordion.acc-color .acc-content { background: #00c0e2 none repeat scroll 0 0; }

.f-accordion.acc-color h3.ui-state-active { background: #00c0e2 none repeat scroll 0 0; }

.f-accordion.acc-color .acc-content { background: #00c0e2 none repeat scroll 0 0; }

.list-style-2 li a:hover { color: #00c0e2; }

.list-style-2 li a:hover i { color: #00c0e2; }

.list-style-2 i { color: #00c0e2; }

.list-style-4 li a:hover i { color: #00c0e2; }

.list-style-4 li a:hover { color: #00c0e2; }

.list-style-4 i { color: #00c0e2; }

.list-style-3 li a:hover { color: #00c0e2; }

.owl-pagination .current { background-color: #00c0e2; border-color: #00c0e2; }

.owl-breadcrumb li.current > *, .owl-multi-steps li.current > * { color: #00c0e2; }

.owl-breadcrumb li::after, .owl-multi-steps li::after { color: #00c0e2; }

.no-touch .owl-breadcrumb a:hover, .no-touch .owl-multi-steps a:hover { color: #00c0e2; }

.layout-box:hover { background: #00c0e2 none repeat scroll 0 0; }

ul.filter li.active, ul.filter li:hover { background: #00c0e2 none repeat scroll 0 0; }

.post-content a.post-btn:hover { color: #00c0e2; }

.ribbon2 { background: #00c0e2 none repeat scroll 0 0; }

.ribbon2::before { background: #0aac8c none repeat scroll 0 0; }

.ribbon { background: #00c0e2 none repeat scroll 0 0; }

.ribbon::before { background: #0aac8c none repeat scroll 0 0; }

.post-meta-links li { border-left: 1px solid #0aac8c; }

.post-meta-links li a { background: #00c0e2 none repeat scroll 0 0; }

.post-meta-links li a:hover { color: #00c0e2; }

.filter-floating { background: #00c0e2 none repeat scroll 0 0; }

.filter-floating a, .filter-floating a:hover { background: #00c0e2 none repeat scroll 0 0; }

#nav .mini-cart .fa, #nav .mini-search .fa { color: #00c0e2; }

.fa.has-circle { border: 2px solid #00c0e2; }

.btn { background: #00c0e2 none repeat scroll 0 0; }

#link-box a.subscribe-button:first-child { border: 2px solid #00c0e2; }

.colorfull-row { background: #2c89c7 none repeat scroll 0 0; }

.btn.btn-success { background: #00c0e2 none repeat scroll 0 0; }

.promo-btn .btn-default { background: #f76742 none repeat scroll 0 0; }

.callout-box.style2 { background: #00c0e2 none repeat scroll 0 0; }

.callout-box.style1 .callout-color { background: #00c0e2 none repeat scroll 0 0; }

.page-title-container .breadcrumbs li.active { color: #00c0e2; }

.price-table .price-col1 .title-2 { background-color: #354346; }

.price-table .price-col2 .title-2 { background-color: #354346; }

.price-table .price-col2 .peice-list { background-color: #354346; }

.price-table .price-col3 .title-2 { background-color: #00c0e2; }

.price-table .price-col3 .peice-list { background-color: #00c0e2; }

.process-builder.style-simple .process-item.active .process-icon, .process-builder.style-simple .process-item .process-icon:hover { background: #00c0e2 none repeat scroll 0 0; }

.process-builder.style-simple .process-item.active .process-icon, .process-builder.style-simple .process-item .process-icon:hover { background: #00c0e2 none repeat scroll 0 0; }

.icon-box.style-side-7[class*=" style-side-"] > i { border: 1px solid #00c0e2; color: #00c0e2; }

.icon-box.style-side-7[class*=" style-side-"] > i:hover { background: #00c0e2 none repeat scroll 0 0; }

h2.section-title { background: #00c0e2 none repeat scroll 0 0; }

.products-table thead th { background: #354346 none repeat scroll 0 0; }

.products-table td span a { background: #00c0e2 none repeat scroll 0 0; }

.products-table td span a:hover { background: #282828 none repeat scroll 0 0 !important; text-decoration: none; }

.icon-box.style-boxed-5[class*=" style-boxed-"] { background: #354346 none repeat scroll 0 0; }

.icon-box.style-boxed-5[class*=" style-boxed-"]:hover .icon-container i::after { background: #434c5b none repeat scroll 0 0; }

.row-LightBlue { background: rgba(0, 0, 0, 0) linear-gradient(180deg, #f5ffff 0%, #e6efef 30%) repeat scroll 0 0; border-bottom: 1px solid #d4dddd; border-top: 1px solid #d4dddd; }

.tld { background: #535c6b none repeat scroll 0 0; }

.icon-box.style-side-6[class*=" style-side-"] i { border: 2px solid #d4dde5; color: #00c0e2; }

.icon-box.style-side-6:hover i { background: #00c0e2 none repeat scroll 0 0; border-color: #00c0e2; color: #fff; }

.icon-box.style-side-1[class*=" style-side-"] > i { color: #00c0e2; }

.icon-box.style-boxed-3[class*=" style-boxed-"]:hover { background: #00c0e2 none repeat scroll 0 0; border-color: #00c0e2; }

.icon-box.style-boxed-3[class*=" style-boxed-"]:hover .icon-container i { color: #00c0e2; }

.icon-box.style-boxed-3[class*=" style-boxed-"] .icon-container i { background: #00c0e2 none repeat scroll 0 0; }

.features-icon-slider .feature-icon:hover i { background: #00c0e2 none repeat scroll 0 0; border-color: #00c0e2; }

.ceroxo-slider-nav:hover::before, .post-slideshow .owl-prev:hover::before, .post-slideshow .owl-next:hover::before, .post-slideshow .owl-gallery-prev:hover::before, .post-slideshow .owl-gallery-next:hover::before, .owl-gallery .owl-prev:hover::before, .owl-gallery .owl-next:hover::before, .owl-gallery .owl-gallery-prev:hover::before, .owl-gallery .owl-gallery-next:hover::before, .owl-gallery-wrapper .owl-prev:hover::before, .owl-gallery-wrapper .owl-next:hover::before, .owl-gallery-wrapper .owl-gallery-prev:hover::before, .owl-gallery-wrapper .owl-gallery-next:hover::before, .post-slider .owl-prev:hover::before, .post-slider .owl-next:hover::before, .post-slider .owl-gallery-prev:hover::before, .post-slider .owl-gallery-next:hover::before, .testimonials.owl-carousel .owl-prev:hover::before, .testimonials.owl-carousel .owl-next:hover::before, .testimonials.owl-carousel .owl-gallery-prev:hover::before, .testimonials.owl-carousel .owl-gallery-next:hover::before, .features-icon-slider .owl-prev:hover::before, .features-icon-slider .owl-next:hover::before, .features-icon-slider .owl-gallery-prev:hover::before, .features-icon-slider .owl-gallery-next:hover::before, .brand-slider.style1 .owl-prev:hover::before, .brand-slider.style1 .owl-next:hover::before, .brand-slider.style1 .owl-gallery-prev:hover::before, .brand-slider.style1 .owl-gallery-next:hover::before, #slideshow .tp-leftarrow.default:hover::before, #slideshow .tp-rightarrow.default:hover::before, .post-pagination .nav-prev:hover::before, .post-pagination .nav-next:hover::before { background: #00c0e2 none repeat scroll 0 0; border-color: #00c0e2; }

.support-que i { background: #00c0e2 none repeat scroll 0 0; }

#footer .callout-box.style2 { background: #00c0e2 none repeat scroll 0 0; }

#footer .footer-wrapper .btn { color: #fff; border-color: #00c0e2; }

#footer .footer-wrapper .btn:hover { background: #00c0e2 none repeat scroll 0 0; border-color: #00c0e2; }
